body{
    background-color: #262626;
    color: #ffffff;
    background-image: url('16256-114865-f67046678_3xl .jpg'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav .logo{
    
    width: 80px;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: safe;
    background-color: #ffffff;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}
li{
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
.content{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 20px;
}
.mycontent{
    padding: 100px;
    margin-bottom: 10px;
}
.content h1{
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}
.content h2{
    font-size: 30px;
    color: #fff;
    font-weight: 100;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    
}

/* Add additional styles for your content here */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #050505;
    box-shadow: 0 0 10px #c0bdbd;
    background: rgba(8, 8, 8, 0.6);
}

h1 {
    text-align: center;
}

form {
    margin-top: 5px;
    font-size: 20px;
    
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

input[type="text"], input[type="radio"] {
    width: 100%;
    padding: 10px;
    color: #000000;
}
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */ 
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input, 
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 20px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio 
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };

#recommed-1{
    box-sizing: border-box;
}
	

.rating {
    background: #EFEFEF;
    border-bottom: 1px solid #DDDDDD;
    padding:100px 0px;
    margin-bottom: 30px;
}

div.header .rating {
        font-size:100px; 
        text-align:center;
    }

div.content {
    padding:60px 0px;
}

/*********************************************************************************\
	RATING CSS LIBRARY
	the css file handeling all the hover states for the rating input in CSS only
	@author Jonas Weigert
\*********************************************************************************/

/*************************************************\
	GENERAL RATING STYLES
	creates the general behavior for gold stars
\*************************************************/
.rating {
	color: #DDD;
	background: none;
    display: block;
}

	.rating span {
		color: inherit;
	}
		.rating a {
			color: inherit;
			text-decoration: none;
		}
	
	.rating-star-1:hover .rating-star-2,
	.rating-star-1:hover .rating-star-2:hover .rating-star-3,
	.rating-star-1:hover .rating-star-2:hover .rating-star-3:hover .rating-star-4,
	.rating-star-1:hover .rating-star-2:hover .rating-star-3:hover .rating-star-4:hover .rating-star-5 {
		color: #DDD;
	}

	.rating-star-1:hover,
	.rating-star-1:hover .rating-star-2:hover,
	.rating-star-1:hover .rating-star-2:hover .rating-star-3:hover,
	.rating-star-1:hover .rating-star-2:hover .rating-star-3:hover .rating-star-4:hover,
	.rating-star-1:hover .rating-star-2:hover .rating-star-3:hover .rating-star-4:hover .rating-star-5:hover {
		color: gold;
	}


/*************************************************\
	GREEN RATING STYLES
	creates the general behavior for green stars
\*************************************************/
.rating.rating-green {
	/* NO SPECIAL STYLES FOR THE WRAPPER */ 
}

	.rating.rating-green .rating-star-1:hover,
	.rating.rating-green .rating-star-1:hover .rating-star-2:hover,
	.rating.rating-green .rating-star-1:hover .rating-star-2:hover .rating-star-3:hover,
	.rating.rating-green .rating-star-1:hover .rating-star-2:hover .rating-star-3:hover .rating-star-4:hover,
	.rating.rating-green .rating-star-1:hover .rating-star-2:hover .rating-star-3:hover .rating-star-4:hover .rating-star-5:hover {
		color: #16a085;
	}


/*************************************************\
	RED TO GREEN RATING STYLES
	creates the general behavior for red to green
\*************************************************/
.rating.rating-redtogreen {
	/* NO SPECIAL STYLES FOR THE WRAPPER */ 
}

	.rating.rating-redtogreen .rating-star-1:hover { color: #c0392b; }
	.rating.rating-redtogreen .rating-star-1:hover .rating-star-2:hover { color: #f39c12; }
	.rating.rating-redtogreen .rating-star-1:hover .rating-star-2:hover .rating-star-3:hover { color:#f1c40f; }
	.rating.rating-redtogreen .rating-star-1:hover .rating-star-2:hover .rating-star-3:hover .rating-star-4:hover {color: #2ecc71; }
	.rating.rating-redtogreen .rating-star-1:hover .rating-star-2:hover .rating-star-3:hover .rating-star-4:hover .rating-star-5:hover { color: #16a085; }


/*************************************************\
	SHOW STRUCTURE CSS
\*************************************************/	
.rating.show-structure span {
	margin:4px;
	display: inline-block;
	padding:4px;
	border:2px solid #c0392b;
	border-radius: 4px;
	background:#EFEFEF;
}
	.rating.show-structure span:hover {
		background: #CCC;
	}
	


